
<%= link_to manager_movies_path, class: "btn btn-primary btn-sm" do %>
  <i class="fas fa-long-arrow-alt-left"></i> 返回
<% end%>

<p class="mt-2">
  <%= link_to run_movie_path(id: @movie.id), remote: true, class: "btn btn-primary btn-sm" do %>
    <i class="fas fa-folder-open"></i> 開啟
  <% end%>
  <strong>名稱:</strong>
  <%= @movie.name %> <%= link_to edit_manager_movie_path(@movie), class: "btn btn-primary btn-sm" do %>
    <i class="fas fa-edit"></i> 修改
  <% end%>
</p>

<p>
  <strong>目錄名稱:</strong>
  <%= @movie.dir_name %>
</p>

<div class='tag_list'>
  <% @movie.tag_names.each do |x| %>
    <%= link_to movies_path(tag_name: x), class: "badge badge-primary" do %>
      <i class="fas fa-tag"></i> <%= x %>
    <% end%>
  <% end %>
</div>

<div class="image mb-2">
  <%= image_tag @movie.image.variant(resize: "200x400")  if @movie.image.attached? %>
</div>

<%
begin
  Dir.chdir("#{MOVIE_DIR}/#{@movie.dir_name}")
rescue => ex
  Dir.chdir(MOVIE_DIR)
end

unless Dir.pwd == MOVIE_DIR %>
  <% Dir.children(Dir.pwd).each_with_index do |file, index| %>
    <% if File.extname(file).in?(['.mp4', '.mkv', '.avi']) && file[0] != '.' %>
      <div class="file">
        <%= link_to "執行", run_movie_path(id: @movie.id, file: file), remote: true, class: "btn btn-primary btn-sm" %>
        <%= file %>
      </div>
    <% end %>
  <% end %>
<% end %>
