
<%= link_to new_manager_author_path, class: "btn btn-primary btn-sm" do %>
  <i class="fas fa-plus"></i> 新作者
<% end%>
<%= link_to movies_path, class: "btn btn-primary btn-sm right" do %>
  <i class="fas fa-th"></i> 瀏覽電影
<% end%>
<%= link_to animes_path, class: "btn btn-primary btn-sm right" do %>
  <i class="fas fa-th"></i> 瀏覽動畫
<% end%>
<%= link_to authors_path, class: "btn btn-primary btn-sm right" do %>
  <i class="fas fa-th"></i> 瀏覽畫面
<% end%>

<div class='tag_list'>
  <% @all_names.each do |t| %>
    <%= link_to manager_authors_path(tag_name: t), class: "badge badge-primary" do %>
      <i class="fas fa-tag"></i> <%= t %>
    <% end%>
  <% end %>
</div>

<div class='tag_list'>
  <% @all_item_names.each do |t| %>
    <%= link_to manager_authors_path(tag_name: t), class: "badge badge-primary" do %>
      <i class="fas fa-tag"></i> <%= t %>
    <% end%>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">名稱</th>
      <th scope="col">目錄名稱</th>
      <th scope="col">存在</th>
      <th scope="col">圖檔</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
    <%
      begin
        Dir.chdir("#{AUTHOR_DIR}/#{author.dir_name}")
      rescue => ex
        Dir.chdir(AUTHOR_DIR)
      end
    %>
      <tr>
        <td><%= author.name %></td>
        <td><%= author.dir_name %></td>
        <td><%= Dir.pwd == AUTHOR_DIR ? '否' : '是' %></td>
        <td><%= author.image.attached? ? '是' : '否' %></td>
        <td>
          <%= link_to manager_author_path(author), class: "btn btn-primary btn-sm" do %>
            <i class="fas fa-eye"></i> 檢視
          <% end%>
          <%= link_to edit_manager_author_path(author), class: "btn btn-primary btn-sm" do %>
            <i class="fas fa-edit"></i> 修改
          <% end%>
          <%= link_to manager_author_path(author), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" do %>
            <i class="fas fa-trash-alt"></i> 刪除
          <% end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
