
<%= link_to movies_path, class: "btn btn-primary btn-sm" do %>
  <i class="fas fa-long-arrow-alt-left"></i> 返回
<% end%>

<p class="mt-2">
  <%= render 'shared/disk', object: @movie, dir: MOVIE_DIR %>
  <strong>名稱:</strong>
  <%= @movie.name %> <%= link_to edit_manager_movie_path(@movie), class: "btn btn-primary btn-sm" do %>
    <i class="fas fa-edit"></i> 修改
  <% end%>
</p>

<div class='tag_list'>
  <% @movie.tag_names.each do |x| %>
    <%= link_to movies_path(tag_name: x), class: "badge badge-primary" do %>
      <i class="fas fa-tag"></i> <%= x %>
    <% end %>
  <% end %>
</div>

<div class="image mb-2">
  <%= image_tag @movie.image.variant(resize: "400x800")  if @movie.image.attached? %>
</div>

  <%
  unless Dir.pwd == MOVIE_DIR %>
    <% Dir.children(Dir.pwd).each_with_index do |file, index| %>
      <% if File.extname(file).in?(['.mp4', '.mkv', '.avi']) && file[0] != '.' %>
        <div class="file">
          <%= file %>
          <textarea name="name" rows="8" cols="80" class='hide' id='file_<%= index%>'>
osascript -e 'tell app "MPlayerX" to close front window'
osascript -e 'quit app "/Applications/MPlayerX.app"'
open -a MPlayerX
osascript -e 'tell application "MPlayerX"
open "<%= "#{MOVIE_DIR}/#{@movie.dir_name}/#{file}" %>"
end tell'
          </textarea>
          <button type="button" name="button" onclick="copylink('file_<%= index%>')" class="btn btn-primary btn-sm"><i class="fas fa-copy"></i> copy</button>
        </div>
      <% end %>
    <% end %>
  <% end %>

<script type="text/javascript">
function copylink(id) {
  /* Get the text field */
  var copyText = document.getElementById(id);
  copyText.className = '';

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("Copy");
  copyText.className = 'hide';
}
</script>
