<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :dir_name %>
    <%= form.text_field :dir_name %>
  </div>

  <div class="field">
    <%= form.label "檔案" %>
    <% if author.image.attached? %>
      <%= image_tag @author.image %>
      <%#= link_to "移除檔案", , class: "btn btn-primary" %>
    <% else %>
      <%= form.file_field :image %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
