<p id="notice"><%= notice %></p>
<%= link_to '新作者', new_manager_author_path, class: "btn btn-primary btn-sm" %>
<%= link_to '管理介面', manager_authors_path, class: "btn btn-primary btn-sm" %>

<div class='tag_list'>
  <% Gutentag::Tag.all.each do |t| %>
    <%= link_to t.name, authors_path(tag_name: t.name), class: "badge badge-primary" %>
  <% end %>
</div>
<div class="list">
  <% @authors.each do |author|
    begin
      Dir.chdir("#{FILE_DIR}/#{author.dir_name}")
    rescue => ex
      Dir.chdir(FILE_DIR)
    end

    unless Dir.pwd == FILE_DIR %>
      <%= link_to author do %>
        <div class="item">
          <div class="name">
            <%= author.name %>
          </div>
          <div class="image">
            <%= image_tag author.image.variant(resize: "140x180") if author.image.attached? %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
