
<%= link_to authors_path, class: "btn btn-primary btn-sm" do %>
  <i class="fas fa-long-arrow-alt-left"></i> 返回
<% end%>

<p class="mt-2">
  <%= link_to run_author_path(id: @author.id), remote: true, class: "btn btn-primary btn-sm" do %>
    <i class="fas fa-folder-open"></i> 開啟
  <% end%>
  <strong>名稱:</strong>
  <%= @author.name %> <%= link_to edit_manager_author_path(@author), class: "btn btn-primary btn-sm" do %>
    <i class="fas fa-edit"></i> 修改
  <% end%>
</p>

<div class='tag_list'>
  <% @author.tag_names.each do |x| %>
    <%= link_to authors_path(tag_name: x), class: "badge badge-primary" do %>
      <i class="fas fa-tag"></i> <%= x %>
    <% end %>
  <% end %>
</div>

<div class="image mb-2">
  <%= image_tag @author.image.variant(resize: "400x800")  if @author.image.attached? %>
</div>

<%
begin
  Dir.chdir("#{AUTHOR_DIR}/#{@author.dir_name}")
rescue => ex
  Dir.chdir(AUTHOR_DIR)
end

unless Dir.pwd == AUTHOR_DIR %>
  <% Dir.children(Dir.pwd).each_with_index do |file, index| %>
    <% if file[0] != '.' %>
      <div class="file">
        <%= file %>
        <%= link_to "執行", run_author_path(id: @author.id, file: file), remote: true, class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  <% end %>
<% end %>
