<p id="notice"><%= notice %></p>

<%= link_to 'Back', authors_path, class: "btn btn-primary btn-sm" %>
<p>
  <strong>名稱:</strong>
  <%= @author.name %> <%= link_to 'Edit', edit_author_path(@author, action: {mode: 'remove'}), class: "btn btn-primary btn-sm" %>
</p>

<p>
  <strong>目錄名稱:</strong>
  <%= @author.dir_name %>
</p>

<div class='tag_list'>
  <% @author.tag_names.each do |x| %>
    <%= link_to x, authors_path(tag_name: x), class: "badge badge-primary" %>
  <% end %>
</div>

<div class="image">
  <%= image_tag @author.image.variant(resize: "400x800")  if @author.image.attached? %>
</div>


<p></p>

  <%
  begin
    Dir.chdir("#{FILE_DIR}/#{@author.dir_name}")
  rescue => ex
    Dir.chdir(FILE_DIR)
  end

  unless Dir.pwd == FILE_DIR %>
    <% Dir.children(Dir.pwd).each_with_index do |file, index| %>
      <div class="file">
        <%= file %>
        <textarea name="name" rows="8" cols="80" class='hide' id='file_<%= index%>'>
osascript -e 'tell app "Simple Comic" to close front window'
osascript -e 'quit app "/Applications/Simple Comic.app"'
osascript -e 'tell application "Simple Comic"
  open "<%= "#{FILE_DIR}/#{@author.dir_name}/#{file}" %>"
end tell'
        </textarea>
        <button type="button" name="button" onclick="copylink('file_<%= index%>')" class="btn btn-primary btn-sm">copy</button>
      </div>
    <% end %>
  <% end %>


<script type="text/javascript">
function copylink(id) {
  /* Get the text field */
  var copyText = document.getElementById(id);
  copyText.className = '';

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("Copy");
  copyText.className = 'hide';
}
</script>
