<div class="edit">
  <%= form_with(model: [:manager, owner, archive], local: true, action: :update)  do |form| %>
    <% if archive.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(archive.errors.count, "error") %> prohibited this archive from being saved:</h2>

        <ul>
        <% archive.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row mb-1">
      <%= form.label :tag_list, class: "col-sm-1 col-form-label" %>
      <div class="col-sm-11">
        <%= form.text_field :tag_list, name: 'archive[tag_list][]', value: archive.tag_list, class: 'form-control', id: 'archive_tag_names'%>
      </div>
    </div>
    <div class="row">
      <div class='tag_list col-sm-11 offset-md-1'>
        <% @all_names.each do |t| %>
          <% unless archive.tag_list.include? t.name %>
            <span class="tag active badge badge-primary"><%= t.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="actions row justify-content-center">
      <%= form.submit nil, class: "btn btn-primary center" %>
    </div>
  <% end %>
</div>
