<i class="fas fa-times index-times"></i>
<div class="row">
  <div class="col-lg-5 col-xl-5">
    <p class="mt-2">
      <%= link_to run_anime_path(id: @anime.id), remote: true, class: "btn btn-primary btn-sm" do %>
        <i class="fas fa-folder-open"></i> 開啟
      <% end%>
      <strong>名稱:</strong>
      <%= @anime.name %> <%= link_to edit_manager_anime_path(@anime), class: "btn btn-primary btn-sm" do %>
        <i class="fas fa-edit"></i> 修改
      <% end%>
    </p>
    <%= render 'shared/rating', item: anime, index: nil %>

    <%= render 'shared/show_tag', items: @anime.tag_list %>
    <%= render 'shared/show_tag', items: @all_names || []%>

    <div class="image mb-2">
      <%= image_tag @anime.image.variant(resize: "400x800")  if @anime.image.attached? %>
    </div>
  </div>

  <div class="col-lg-12 col-xl-7">
    <% set_dir(ANIME_DIR, @anime)

    unless Dir.pwd == ANIME_DIR %>
    <% if  @anime.file_count != Dir.children(Dir.pwd).size
      @anime.file_count = Dir.children(Dir.pwd).size
      @anime.save
    end %>
      <% Dir.children(Dir.pwd).sort.each_with_index do |file, index| %>
        <% if File.extname(file).in?(['.mp4', '.mkv', '.avi']) && file[0] != '.' %>
          <div class="file">
            <%= link_to "執行", run_anime_path(id: @anime.id, file: file), remote: true, class: "btn btn-primary btn-sm" %>
            <%= file %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
