
<%= render 'shared/show_tag', items: @all_names || [] %>

<div class="list">
  <% @animes.each do |anime|
    set_dir(ANIME_DIR, anime)

    unless Dir.pwd == ANIME_DIR %>
      <%= link_to anime, remote: true do %>
        <div class="item">
          <div class="name">
            <%= anime.name %> (<%= anime.file_count %>)
          </div>
          <div class="image">
            <%= image_tag anime.image.variant(resize: "140x198!") if anime.image.attached? %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id="root" class='list'></div>

<%= javascript_pack_tag "anime" %>

<div id="area" class="hidden">

</div>
