<%= form_with(model: [:manager, anime], local: true) do |form| %>
  <% if anime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(anime.errors.count, "error") %> prohibited this anime from being saved:</h2>

      <ul>
      <% anime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :dir_name %>
    <%= form.text_field :dir_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :tag_names %>
    <%= form.text_field :tag_names, name: 'anime[tag_names][]', value: anime.tag_names, class: 'form-control' %>
  </div>
  <div class='tag_list'>
    <% Gutentag::Tag.all.each do |t| %>
      <% unless anime.tag_names.include? t.name %>
        <span class="tag active badge badge-primary"><%= t.name %></span>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <% if anime.image.attached? %>
      <%= link_to remove_manager_anime_path(anime), class: "btn btn-primary" do %>
        <i class="fas fa-trash-alt"></i> 移除檔案
      <% end%>
      <%= image_tag @anime.image.variant(resize: "200x400") %><br>
    <% end %>
    <%= form.file_field :image %>
  </div>
<br>
  <div class="actions">
    <%= form.submit nil, class: "btn btn-primary" %>
  </div>
  <br>
<% end %>
