
<%= link_to manager_animes_path, class: "btn btn-primary btn-sm" do %>
  <i class="fas fa-long-arrow-alt-left"></i> 返回
<% end%>
<p class="mt-2">
  <%= link_to "#", class: "btn btn-primary btn-sm" do %>
    <i class="fas fa-folder-open"></i> 開啟
  <% end %>
  <strong>名稱:</strong>
  <%= @anime.name %> <%= link_to edit_manager_anime_path(@anime), class: "btn btn-primary btn-sm" do %>
    <i class="fas fa-edit"></i> 修改
  <% end%>
</p>

<p>
  <strong>目錄名稱:</strong>
  <%= @anime.dir_name %>
</p>

<div class='tag_list'>
  <% @anime.tag_names.each do |x| %>
    <%= link_to animes_path(tag_name: x), class: "badge badge-primary" do %>
      <i class="fas fa-tag"></i> <%= x %>
    <% end%>
  <% end %>
</div>

<div class="image">
  <%= image_tag @anime.image.variant(resize: "200x400")  if @anime.image.attached? %>
</div>

<p></p>

  <%
  begin
    Dir.chdir("#{AINME_DIR}/#{@anime.dir_name}")
  rescue => ex
    Dir.chdir(AINME_DIR)
  end

  unless Dir.pwd == AINME_DIR %>
    <% Dir.children(Dir.pwd).each_with_index do |file, index| %>
      <div class="file">
        <%= file %>
        <textarea name="name" rows="8" cols="80" class='hide' id='file_<%= index%>'>
osascript -e 'tell app "Simple Comic" to close front window'
osascript -e 'quit app "/Applications/Simple Comic.app"'
osascript -e 'tell application "Simple Comic"
  open "<%= "#{AINME_DIR}/#{@anime.dir_name}/#{file}" %>"
end tell'
        </textarea>
        <button type="button" name="button" onclick="copylink('file_<%= index%>')" class="btn btn-primary btn-sm"><i class="fas fa-copy"></i> copy</button>
      </div>
    <% end %>
  <% end %>

<script type="text/javascript">
function copylink(id) {
  /* Get the text field */
  var copyText = document.getElementById(id);
  copyText.className = '';

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("Copy");
  copyText.className = 'hide';
}
</script>
